.userpage{
	width: 100%;
	height: 2.96875rem;
	background: #009696;
}
.userDefault{
	width: 1.875rem;
	border: 0.1rem solid #fff;
	border-radius: 50%;
	margin: 0.6rem 0.4rem 0.515625rem 0.6875rem;
}
.group{
	margin-top: 0.3rem;
}

.mobile{
	font-size: 0.466rem;
	line-height: 0.466rem;
	color: white;
	margin-bottom: 0.2rem;
}
.logined button{
	background:rgba(0,0,0,.1);
	border-radius: 20rem;
	border:none;
	color: white;
	font-size: 0.40rem;
	/*padding:0.18rem;*/
	padding:0.02rem 0.2rem;
	margin:0 0.3rem 0 0;
}	
.logined button span{
	margin-left: 0.1rem;
}
.contentList{
	padding:0 0.46875rem;
}
.contentList li{
	height: 1.45rem;
	line-height: 1.45rem;
	border-bottom: 0.06rem solid #efefef;
}
.contentList li>*{
	float: left;
}
.contentTitle {
	display: inline-block;
	width: 6.8rem;
	font-size: 0.46875rem;
	margin-left:0.3rem;
}
.contentRight{
	float: right;
}
.contentRight>*{
	float: left;
}
.itemIcon{
	width: 0.9rem;
	height: 0.8rem;
	margin-top: 0.4rem;
	padding:0.1rem;
}
.contentNum{
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	border-radius: 50%;
	background: #de5044;
	color: white;
	margin-top:0.6rem;
	font-size: 0.34375rem;
}
.contentList .glyphicon-menu-right{
	font-size: 0.4rem;
	float: right;
	color: #d3d3d3;
	margin-top: 0.65rem;
}
/*tagList*/
.tagmask{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}
.tagmask .tagBox{
	width: 8.28rem;
	margin:25% auto 0;
	background: white;
}
.tagmask .tagImg{
	width: 100%;

}
.tagmask .tagFont{
	text-align: center;
	line-height: 25px;
	font-size: 0.533rem;
	margin: 10px 0;
}
.tagmask ul{
	padding:2.5%;
}
.tagmask ul li{
	padding:5%;
	margin-bottom:10px;
	font-size:0.66rem;
	color: white;
	text-align: center;
}